---
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "production"
    # We want to manage this ourselves and not receive PR's for this
    ignore:
      - dependency-name: "org.springframework.*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.flywaydb.*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.opensaml.*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
