div.container {
    max-width: 780px;
    margin: 0 auto;
    min-height: 100vh;
}

form {
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

div.header {
    padding: 35px;
    background-color: #fadc00;
    font-size: 24px;
    line-height: 28px;
}

div.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.content {
    margin: 40px auto 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

div.data-transfer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
}

div.image-container img {
    width: 180px;
    height: auto;
    padding: 0 40px;
}

div.resource-servers {
    display: flex;
    flex-direction: column;
}

div.image-container.resource-server img:not(:first-child) {
    margin-top: 15px;
}

span.strong {
    font-weight: bold;
}

div.permission-container h3 {
    color: #008738;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0;
}

div.grant {
    padding: 20px 0 40px 0;
    border-bottom: 1px solid grey;
}

div.scopes {
    box-shadow: 1px 1px 5px 1px grey;
    background-color: white;
}

ul {
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

ul li {
    line-height: 28px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

ul li:last-child {
    border-bottom: none;
}

ul li svg {
    width: 43px;
    min-width: 43px;
    height: auto;
    margin-right: 25px;
}

ul li.eduid {
    background-color: #c5dfe7;
}

ul li.eduid a {
    font-weight: bold;
    color: #004c97;
    text-decoration: none;
}

ul li.eduid a:visited {
    color: #004c97;

}

div.actions {
    display: flex;
    padding: 40px 0;
    flex-direction: column;

}

button, .button {
    background-color: #0077c8;
    width: 100%;
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #004c97;
}

.button.cancel {
    color: #0077c8;
    background-color: transparent;
    margin-top: 15px;
    width: auto;
    text-align: center;
}

.button.cancel:hover {
    background-color: white;
    color: #004c97;
}

.footer {
    display: flex;
    align-content: center;
}

.inner-footer {
    margin: auto auto 0 auto;
}

.inner-footer a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.inner-footer a.active {
    color: white;
    font-weight: bold;
    cursor: not-allowed;
}

.inner-footer a:first-child {
    padding-right: 25px;
    border-right: 1px solid white;
}

.inner-footer a:last-child {
    padding-left: 25px;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal:target {
    display: block;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-dialog {
    transform: translate(0, 0);
    top: 20%;
}

.modal-dialog {
    background: #fefefe;
    border: grey solid 1px;
    border-radius: 5px;
    margin-left: -330px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 660px;
    transform: translate(0, -500%);
    overflow-y: auto;
}

.modal-body {
    padding: 30px;
}

.modal-footer {
    padding: 10px 20px;
}

.modal-header {
    padding: 25px 20px;
    border-bottom: lightgray solid 1px;
}

.modal-header h2 {
    font-size: 18px;
    font-weight: bold;
}

p.modal-text {
    margin-bottom: 15px;
}

.modal-footer {
    border-top: lightgray solid 1px;
    text-align: right;
    padding: 30px 20px;
}

@media only screen and (max-width: 780px) {
    div.container {
        max-width: 100%
    }

    div.content {
        padding: 35px 15px 0 15px;
    }

    div.data-transfer {
        flex-direction: column;
    }

    div.arrows {
        transform: rotate(90deg);
        margin: 50px 0;
    }

    div.actions {
        padding: 20px 20px;
    }

    .modal-dialog {
        margin-left: 0;
        width: 90%;
        left: 5%;
        transform: translate(0, -500%);
    }

    .modal:target .modal-dialog {
        top: 2%;
    }

}



