<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consent</title>
    <meta name="robots" content="noindex, nofollow">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style">
    <link href="/favicon.ico" rel="shortcut icon">
    <link th:href="@{/consent.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <form method="post" action="/oidc/consent">
        <div class="header">
            <span>Do you give permission to share your information?</span>
        </div>
        <div class="content">
            <div class="client">
                <img th:src="${client.logoUrl}" alt=""/>
            </div>
            <span>&larr;</span>
            <span>&rarr;</span>
            <span>&check;</span>
            <div class="allow">
                <span><span class="client" th:text="${client.name}"/> needs</span>
                <ul>
                    <li th:each="scope : ${scopes}" th:text="${scope.descriptions.get('en')}"/>
                </ul>
            </div>
            <div class="audiences">
                <span><span class="client" th:text="${client}"/> will also grant other services access to your account information:</span>
                <ul>
                    <li th:each="audience : ${audiences}" th:text="${audience.value}"/>
                </ul>
            </div>
        </div>
        <input th:each="parameter : ${parameters}" type="hidden" th:name="${parameter.key}"
               th:value="${parameter.value}"/>
        <div class="actions">
            <button name="yes" value="yes" type="submit">Allow</button>
            <button class="cancel" name="no" value="no" type="submit">No, I don't agree</button>
        </div>
    </form>
    <div class="footer">
        <div class="inner-footer">
            <a href="/nl" onclick="switchLang('nl'); return false;">NL</a>
            <span>EN</span>
        </div>
    </div>

</div>
</body>
<script>

  function switchLang(lang) {
    var searchParams = new URLSearchParams(window.location.search);
    searchParams.set("lang", lang);
    window.location.search = searchParams.toString();
  }

</script>
</html>