<!DOCTYPE html>
<html class="no-js" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SURFconext - Error - No session found </title>

    <meta name="robots" content="noindex, nofollow">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/error-page.css" rel="stylesheet" type="text/css">
    <!-- Firefox CSS -->
    <style>
        @-moz-document url-prefix() {
            .comp-links .help {
                line-height: 1.7rem !important;
            }
        }
    </style>
</head>
<body class="index">


<div class="background">
    <div class="background__front"></div>
    <div class="background__back"></div>
</div>

    <ul class="comp-language">
        <li>
            <a  href="/feedback/no-session?lang=nl">NL</a>
        </li>
        <li>
            <a class="selected" href="/feedback/no-session?lang=en">EN</a>
        </li>
    </ul>

<div class="l-container ">



    <div class="error-container">

        <div class="error-container__content">
            <div class="error-title">
                <h1 class="error-title__heading">Error - No session found</h1>
                <div class="error-title__error-message">To continue to the service an active session is required. However, no session was found. Your browser must accept cookies. Alternatively, the link you used to get to the service might be wrong. Please go back to the service and try again. If that doesn't work, try a different browser.</div>
            </div>


            <p></p><p>
        Please visit <a href="https://support.surfconext.nl/" target="_blank">the SURFconext support pages</a> for help solving this problem. These pages also contain contact information for the support team if the problem persists.
    </p><p></p>

        </div>
        <footer class="error-page-footer-buttons"><div class="error-page-footer-buttons__container">
            <div class="error-page-footer-buttons__row"><div class="footer-button">
                <a href="https://support.surfconext.nl/en" target="_blank" class="footer-button__link" title="Helpdesk">
<!--                    <--<i class="footer-button__icon fa-graduation-cap"></i>-->
                    <p class="footer-button__text">Helpdesk</p><p class="footer-button__text footer-button__text--small">Helpdesk</p></a></div></div></div></footer>    </div>

</div>



<script src="/application.min.js" type="text/javascript"></script>



</body></html>